.title{
  text-align: center;
}
.rotate{
  transform: rotate(0deg);
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-Pointer{

  }
  &-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #010101;
  }
}